@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Martian+Mono:wght@100..800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    --linear-gradient: (90deg, #ff9a60 -11.37%, #062630 61.84%);
    --black: #000;
    --white: #fff;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black);
  background-color: var(--white);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Martian Mono', monospace;
}

.hero-join {
  background-image: url('../assets/images/pattern-light-bg.svg');
}

.hero-join__content h1 {
  color: var(--linear-gradient);
}


